AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive 
AlignConsecutiveDeclarations: Consecutive 
IndentCaseLabels: true
ColumnLimit: 120
